pytest
nbmake

ase==3.23.0

# ML potentials
mace-torch==0.3.6
#matgl==1.1.3
sevenn==0.10.0
#chgnet
orb-models==0.4.0
pynanoflann@git+https://github.com/dwastberg/pynanoflann#egg=af434039ae14bedcbb838a7808924d6689274168 # required for orb-models
